
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        ZIELONE SMOOTHIE ZE SZPINAKIEM I BAZYLIĄ
    <img src= 'https://www.kwestiasmaku.com/sites/kwestiasmaku.com/files/zielone_smoothie_ze_szpinakiem_01.jpg'/>

     </mat-grid-tile>
     </mat-grid-list>
<mat-list role="list">
     <mat-list-item role="listitem"> <h2>Składniki</h2>/   2 porcje </mat-list-item>
      <mat-divider></mat-divider>
     <mat-list-item role="listitem">5 pomarańczy</mat-list-item>
     <mat-list-item role="listitem" >1 limonka</mat-list-item>
     <mat-list-item role="listitem">garść szpinaku</mat-list-item>
    <mat-list-item role="listitem">1 banan</mat-list-item>
    <mat-list-item role="listitem">pół jabłka</mat-list-item>
    <mat-list-item role="listitem">pół szklanki liści bazylii</mat-list-item>
  </mat-list>
  <mat-list role="list">
      <mat-list-item role="listitem"><h2>Przygotowanie</h2></mat-list-item>
       <mat-divider></mat-divider>
      <mat-list-item role="listitem"> Wycisnąć sok z pomarańczy i limonki. 
      </mat-list-item>
      <mat-list-item role="listitem"> Dodać spinak, banana, jabłko oraz liście bazylii.
      </mat-list-item>
      <mat-list-item role="listitem"> Zmiksować i zajadać.
      </mat-list-item>
  </mat-list>
 

  