
mat-list mat-list-item {
    display: inline-block;
    margin-right: 150px;
    margin-bottom: 60px;
    margin-top: 30px;
}
mat-list {
    border-bottom: 2px solid white;
    
}
.active {
    color: blue;
}
.but{
    background-color: whitesmoke;
    height: 60px;
    width: 120px;
  
}
.menu2 {
    margin-top: 30px;
    float: right;
    text-align: center;
    max-width: 500px;
    
}
mat-card  {
    background-color: rgb(231, 230, 236);
    
}