<mat-card class="aside">
    <app-menu></app-menu>
</mat-card>
<mat-card>
<mat-card>
    <mat-card-title> Wybierając rower dbasz o środowisko</mat-card-title>
    <mat-card-content>
       
        Skażenie środowiska naturalnego to jeden z poważniejszych problemów współczesności. Do jego rozwiązania nie przyczynia się  rosnąca liczba samochodów. Rower jest jednym z nielicznych środków transportu, które nie wydzielają spalin. Jest bardziej mobilny, dzięki czemu nie stoisz w korkach i nie wdychasz miejskich zanieczyszczeń. Zawsze możesz skręcić w boczną uliczkę, pojechać ścieżką rowerową czy przez park. Rower nie powoduje hałasu, którego poziom, zwłaszcza w centrach dużych miast, przekracza wszelkie dopuszczalne normy.
        </mat-card-content>
        <mat-card-title>Wybierając rower nie tracisz czasu</mat-card-title>
        <mat-card-content>Rower jest zawsze gotowy do podróży. A poza tym nie musisz na przystanku czekać na zapchany autobus czy tramwaj, którego pasażerowie mogą cię zarazić grypą lub okraść. Gdy masz sprawę do załatwienia, po prostu wsiadasz i jedziesz. Choć ilość energii, której potrzebujesz, poruszając się rowerem, jest porównywalna do ilości zużywanej podczas szybkiego marszu, odległość, którą w tym czasie pokonasz, jest niemal trzy razy większa. Owszem, zmęczysz się, wjeżdżając pod górę, ale za to zjazd będzie frajdą.
        
          </mat-card-content>
        
          <mat-card-title> Wybierając rower oszczędzasz pieniądze</mat-card-title>
        <mat-card-content>Kupno i utrzymanie roweru jest nieporównywalnie tańsze niż motocykla czy samochodu. Już za 800-1000 zł kupisz niezły jednoślad w sklepie rowerowym czy sportowym. Zaletą roweru jest również brak comiesięcznych opłat związanych z jego utrzymaniem. Nie musisz wykupywać ubezpieczenia (choć jeśli twój rower jest bardzo drogi, warto ubezpieczyć go na wypadek kradzieży), nie płacisz za benzynę ani za parking. Zajmuje 10 razy mniej miejsca niż samochód osobowy, więc nie wymaga garażu. Zmieści się w piwnicy czy na balkonie. W swoim budżecie musisz przewidzieć jedynie niewielką sumę na konserwację oraz ewentualne naprawy. Dokładny przegląd roweru powinno się zrobić przynajmniej raz w roku. Może cię to kosztować od 80 do 100 zł. To z pewnością dużo mniejsza suma niż ta, którą trzeba byłoby zapłacić rocznie za bilety autobusowe czy tramwajowe.
          </mat-card-content>
          <mat-card-title>Wybierając rower chronisz własne życie</mat-card-title>
          <mat-card-content>Według statystyk, wypadki z udziałem rowerzystów są o wiele rzadsze niż z udziałem pieszych i kierowców samochodów. 
Ale zachowaj ostrożność, bo na rowerze nie chroni cię karoseria. Łatwiej jednak wyminiesz nim pojazdy, więc masz większą szansę uniknąć wypadku. Pamiętaj, że twój rower powinien być wyposażony w sprawne hamulce, dobre opony, dzwonek i światła. Podczas jazdy na rowerze nie tylko przestrzegaj przepisów ruchu drogowego, ale zachowaj też rozsądek.
</mat-card-content>
<mat-card-title>Wybierając rower lepiej poznajesz otoczenie</mat-card-title>
<mat-card-content>Podczas jazdy rowerem możesz podziwiać otoczenie i odkrywać wcześniej nieznane miejsca. Dzięki temu lepiej poznasz miasto i okolicę. Ile jest interesujących uliczek, mostów i parków, których nigdy nie odkryjesz, korzystając z miejskiej komunikacji. W każdym z tych miejsc zawsze możesz się na chwilę zatrzymać i nieco odpocząć.
  </mat-card-content>
<mat-card-title>Wybierając rower poprawiasz nastrój</mat-card-title>
<mat-card-content>W czasie jazdy na rowerze i uprawiania innych sportów organizm wydziela endorfiny, zwane hormonami szczęścia. Minimalizują one odczuwanie wysiłku i zmęczenie mięśni, poprawiają samopoczucie i zwiększają zadowolenie. Stabilizuje się praca układu oddechowego. Szybsze krążenie sprawia, że organizm jest lepiej dotleniony i sprawniej funkcjonuje. Jesteśmy zdrowsi.

Dodatkowo jazda na rowerze pozwala uniknąć stresu i się zrelaksować. Masz przecież tę przewagę nad innymi pojazdami, że bez większego problemu wjedziesz prawie wszędzie. Możesz też korzystać z rozmaitych skrótów. Kierowcom samochodów do wielu miejsc uniemożliwiają dojazd zakazy albo brak odpowiedniej drogi.
</mat-card-content>
<mat-card-title>Wybierając rower kształtujesz mięśnie nóg</mat-card-title>
<mat-card-content>Podczas jazdy na rowerze najmocniej pracują łydki. Aktywne są również mięśnie pośladków oraz ud, zwłaszcza dwugłowy i czworogłowy oraz w pewnym stopniu - mięśnie brzucha. Kiedy wjeżdżasz pod górę, pracują także ręce i mięśnie klatki piersiowej. Jeśli w ciągu tygodnia pokonasz na rowerze ok. 90 km, szybko wzmocnisz muskulaturę oraz zlikwidujesz tkankę tłuszczową na biodrach i udach.

  </mat-card-content>

<mat-card-title>Wybierając rower wzmacniasz kręgosłup</mat-card-title>
<mat-card-content>Rower to także znakomity sposób, żeby wzmocnić mięśnie pleców, które podtrzymują dolny, lędźwiowy odcinek kręgosłupa. Ważne jest również, aby mieć dobrze - czyli pod odpowiednim kątem - ustawione siodełko. Zbyt wyprostowana sylwetka powoduje bowiem nadwerężenie kręgosłupa i zmęczenie.
  </mat-card-content>
  <mat-card-title>Wybierając rower troszczysz się o serce</mat-card-title>
  <mat-card-content>Jazda rowerem to świetny trening dla serca. Zmusza do wydajniejszej pracy układ krążenia, chroniąc go przed nadciśnieniem, a serce przed chorobami. Podczas rytmicznego pedałowania serce uspokaja się, a każdy jego skurcz jest pełniejszy i powoduje lepsze dotlenienie narządów wewnętrznych. Pamiętaj też, że im częściej jeździsz na rowerze, tym twoje serce mniej się męczy. Tętno nie jest tak szybkie, jak na początku twojej przygody z rowerem i nie dopada cię zadyszka ani zmęczenie.
    </mat-card-content>
 </mat-card>
<mat-card>
    <div class='previev'>
    <img [src]='pictures[currentPicture]'/>
    </div>
    <mat-list>
        <mat-list-item *ngFor='let picture of pictures; let i=index'
        [class.active]='currentPicture===i'
        (click)='selectPicture(i)'>
        <img [src]= 'picture'/>
    
         </mat-list-item>
    </mat-list>
    
</mat-card>