<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        SZPARAGI ZAPIEKANE Z SZYNKĄ PARMEŃSKĄ I SEREM
       <img src= 'https://www.kwestiasmaku.com/sites/kwestiasmaku.com/files/szparagi_zapiekane_z_szynka_parmenska_serem_02.jpg'/>
    </mat-grid-tile>
</mat-grid-list>
<mat-list role="list">
      <mat-list-item role="listitem"> <h2>Składniki</h2>/   2 porcje </mat-list-item>
         <mat-divider></mat-divider>
      <mat-list-item role="listitem" ></mat-list-item>
      <mat-list-item role="listitem">1 pęczek szparagów, 100 g szynki parmeńskiej, serrano lub cieniutkiego boczku, 200 g tartego sera (np. mozzarella),
        tymianek, oliwa extra vergine, masło, sól i pieprz
      </mat-list-item>
</mat-list>
<mat-list role="list">
      <mat-list-item role="listitem"><h2>Przygotowanie</h2></mat-list-item>
        <mat-divider></mat-divider>
      <mat-list-item role="listitem"> 
        Piekarnik nagrzać do 180 stopni C. Szparagi umyć, odłamać twarde i zdrewniałe końce (same złamią się w odpowiednim miejscu). Odłamane końce równo przyciąć.
      </mat-list-item>
      <mat-list-item role="listitem">
        Pośrodku plasterków szynki kłaść po ok. 5 szparagów, posypać tartym serem (na szparagi i szynkę, pośrodku), zawinąć szynkę w pęczek i owinąć jeszcze jednym plasterkiem szynki (opcjonalnie). Powtórzyć z resztą składnikow.
      </mat-list-item>
      <mat-list-item role="listitem">
        Naczynie do zapiekania posmarować oliwą, ułożyć roladki, skropić oliwą, wystające spod szynki szparagi doprawić delikatnie solą i pieprzem.
      </mat-list-item>
      <mat-list-item role="listitem">
        Na wierzchu każdej roladki położyć po łyżeczce masła, posypać listkami świeżego tymianku lub tymiankiem suszonym.
      </mat-list-item>
      <mat-list-item role="listitem">
        Wstawić do piekarnika i piec przez ok. 12 minut.
      </mat-list-item>
        
  </mat-list>