<mat-card class="aside">
    <app-menu></app-menu>
</mat-card>
<mat-card>
<mat-card>
    <mat-card-title>Pozycja góry z uniesionymi rękami (Urdhva Hastasana w Tadasanie)</mat-card-title>
    <mat-card-content>
        Ta pozycja buduje poczucie wewnętrznej równowagi i stabilności. Wyciąganie rąk w górę podnosi na duchu i umacnia pewność siebie.
    
        Wykonanie: przyjmij pozycję tadasany: stań prosto ze złączonymi stopami, ciężar ciała rozłóż równomiernie na obie nogi. Ściągnij łopatki, opuść barki i podkul kość ogonową do góry, aby miednica znalazła się prostopadle do podłogi. Następnie unieś ręce do góry tak, aby utworzyły jedną linię z ciałem. Łokcie powinny być całkowicie proste, wnętrza dłoni skierowane do siebie. Robiąc wdech ciągnij rękami do góry starając się maksymalnie rozciągnąć kręgosłup. Wzrok skieruj przed siebie. Oddychaj miarowo i spokojnie. Aby wyjść z pozycji, powoli opuść ramiona w dół.    
    </mat-card-content>
  


    <mat-card-title>Pozycja psa z głową w dół (Adho Mukha Svanasana)</mat-card-title>
    <mat-card-content>
        Pies z głową w dół dotlenia mózg, a tym samym ożywia oraz dodaje energii osobom zmagającym się z objawami depresji. Pozwala także pozbyć się napięcia zgromadzonego w barkach, karku i lędźwiach.

        Wykonanie: przejdź do klęku i podeprzyj się z przodu na rękach. Podwiń palce stóp i płynnie unieś biodra do góry, prostując jednocześnie ramiona, nogi i plecy. Twoje ciało powinno przyjąć kształt odwróconej litery V. Głowę schowaj między ramiona. Ręce, głowa, szyja i kręgosłup powinny znajdować się w jednej linii. Rozluźnij mięśnie barków, karku i szyi. Wytrwaj w pozycji przez kilka głębokich wdechów. Aby wyjść z pozycji, zrób krok do przodu zbliżając najpierw prawą, potem lewą nogę do dłoni położonych na podłodze i powoli, zaokrąglając plecy, wróć do pozycji stojącej.
        
</mat-card-content>


<mat-card-title>Pozycja węża (Bhujangasana)</mat-card-title>
<mat-card-content>
    Mocne wygięcie kręgosłupa w tej pozycji usuwa napięcie z dolnej części pleców i dokładnie je rozciąga. Otwarcie klatki piersiowej pogłębia oddech i dodaje energii.

    Wykonanie: połóż się na brzuchu z twarzą do podłogi. Złącz nogi i dociśnij grzbiety stóp do podłoża. Dłonie ułóż płasko na ziemi pod barkami, łokcie trzymaj blisko ciała. Robiąc wdech unieś do góry klatkę piersiową – staraj się nie zapierać mocno rękoma, lecz unieść tułów korzystając z siły mięśni pleców. Kość łonową wciśnij w podłogę, pośladki rozluźnij. Nie prostuj całkowicie rąk (nie rób przeprostu). Wyciągnij szyję i głowę do góry. Wraz z każdym oddechem otwieraj klatkę piersiową, a z wydechem staraj się jak najmocniej wyciągać kręgosłup ku górze. Wychodząc z pozycji powoli, kręg po kręgu opuszczaj tułów na podłogę.
</mat-card-content>


<mat-card-title>Pozycja wojownika (Virabhadrasana II)</mat-card-title>
<mat-card-content>
    W tej pozycji główny nacisk kładziony jest na pracę nóg – powinny być stabilne i mocno przylegać do podłoża. Poczucie gruntu pod stopami dodaje odwagi i zwiększa pewność siebie. Asana sprzyja także koncentracji, przywraca harmonię oraz spokój ducha.

    Wykonanie: stań w tadasanie (opis pozycji w ćwiczeniu 1.). Weź wdech i z wydechem zrób szeroki rozkrok przesuwając stopę w bok. Ręce wyprostuj i unieś na boki (powinny znajdować się prostopadle do podłoża), wnętrza dłoni skieruj do dołu – ręce i barki powinny stworzyć jedną linię. Prawą stopę skręć o 90 stopni na zewnątrz (biodra pozostają nieruchome). Wciskając lewą piętę w podłogę, zacznij uginać prawe kolano i powoli schodź w dół aż udo znajdzie się równolegle do ziemi. Pilnuj przy tym, aby ramiona i barki cały czas znajdowały się na tej samej wysokości. Czubek głowy skieruj do góry. Na koniec skręć głowę w prawo. Zrób kilka wdechów i wydechów. Wyjdź z pozycji na wdechu, skręcając stopy do środka i łącząc nogi. Powtórz ćwiczenie na drugą stronę.
</mat-card-content>


<mat-card-title>Intensywne rozciąganie w głębokim skłonie (Uttanasana)</mat-card-title>
<mat-card-content>
    Silnie relaksująca pozycja, która usuwa zmęczenie, dotlenia, zwalcza bezsenność, rozluźnia głowę oraz intensywnie rozciąga plecy i nogi.

    Wykonanie: stań w tadasanie, stopy rozstaw na szerokość barków, dłonie oprzyj na biodrach. Z wydechem zrób połowiczny skłon – tak, aby tułów znalazł się równolegle do podłogi. Dłonie opuść w dół i postaraj się czubkami palców dotknąć ziemi. Ciężar ciała oprzyj na przedniej części stóp. Następnie zbliż klatkę piersiową do ud pogłębiając w ten sposób skłon, dłonie połóż obok kostek. Jeśli nie sięgasz rękami do podłoża, ugnij lekko kolana. Biodra kieruj w stronę sufitu, a pięty dociskaj do ziemi. Ciągnąc głową w dół, wydłużaj kręgosłup. Głowa powinna wisieć luźno. Dla większego odprężenia zamknij oczy i spokojnie oddychając licz do 30. Powróć do pozycji wyjściowej na wdechu, unosząc tułów do góry. Powtórz ćwiczenie 2-3 razy.
</mat-card-content>

<mat-card-title>Pozycja dziecka (Balasana)</mat-card-title>
<mat-card-content>
    Pozycja dziecka kończy sekwencję asan, wyciszając umysł i pozostawiając ciało w stanie harmonii.

    Wykonanie: usiądź na piętach, złącz stopy, kolana rozstaw na szerokość bioder. Na wydechu zrób skłon do przodu tak, aby klatkę piersiową położyć na udach. Czoło oprzyj o podłogę (jeśli masz z tym trudność, podłóż pod głowę zwinięty koc). Ramiona wyciągnij do tyłu i połóż swobodnie na podłodze, wnętrza dłoni skieruj do góry. Rozluźnij barki i szyję, nie usztywniaj palców. Staraj się ciągnąć biodrami do tyłu oddalając je od tułowia, głową wyciągaj do przodu. Oddychaj.
    
</mat-card-content>


 </mat-card>
<mat-card>
    <div class='previev'>
    <img [src]='pictures[currentPicture]'/>
    </div>
    <mat-list>
        <mat-list-item *ngFor='let picture of pictures; let i=index'
        [class.active]='currentPicture===i'
        (click)='selectPicture(i)'>
        <img [src]= 'picture'/>
    
         </mat-list-item>
    </mat-list>
    
</mat-card>