mat-card {
    max-width: 1200px;
    margin: 20px;
    border: 2px solid rgb(243, 235, 235);
    position: relative;
    padding: 30px;
    
}

mat-list mat-list-item {
    display: inline;
    padding: 20px;
    margin: 10px;
    max-width: 50px;
    opacity: .4;
    
}


mat-list mat-list-item img {
    max-width: 100px;
    max-height: 40px;
    

}
mat-list mat-list-item {
    display: inline-block;
    left: none;
}

mat-list mat-list-item:hover {
    opacity: 1;
    cursor: pointer;
   
}



.previev {
    text-align: center;

}

.previev img {
    max-width: 600px;
    max-height: 250px;
}
mat-list mat-list-item.active{
    opacity: 1;
}
.aside {
    position: relative;
    max-width: 80px;
    float: right;
    border: 1px solid rgb(124, 142, 148);
    background-color: rgb(231, 233, 224);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    max-width: 500px;
}
