

  <mat-card>
     <mat-card-title>Fitness - co to jest ??</mat-card-title>
      <mat-card-content>
       Początki fitnessu łączyć należy z wynalezieniem i rozpowszechnieniem podstawowej formy gimnastyki rekreacyjnej jaką był aerobik. Kolebką aerobiku są Stany Zjednoczone. Za wynalazcę tej formy ćwiczeń uznawany jest dr Kenneth Cooper, który w latach 70. był lekarzem w Narodowej Agencji Aeronautyki USA (NASA). Opracowywał on programy kondycyjne dla amerykańskich kosmonautów. Przeprowadził liczne badania na wielu tysiącach osób, które pozwoliły mu na stworzenie założeń aerobiku.
       Cechą charakterystyczną ćwiczeń "aerobowych" (czyli tlenowych) było to, że układ krążenia i oddychania ćwiczącego pracował w ten sposób, aby organizm mógł w trakcie ćwiczeń pobierać dostatecznie dużo tlenu i unikać okresów niedotlenienia.
      </mat-card-content>
  </mat-card>
  <mat-card>
    <app-animat></app-animat>
    </mat-card>
