
<mat-card>
    <mat-card-title>Ze sportem można się zaprzyjaźnić</mat-card-title>
     <!-- <mat-card class="aside">
       <app-menu></app-menu>
    </mat-card> -->
  <section>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile routerLink='/cwiczenie1' routerLinkActive='Active'>
       
            <img src='http://s3.party.pl/styl-zycia/zdrowie/cwiczenia-na-pilce-359096-article.jpg'>
        </mat-grid-tile>
        <mat-grid-tile routerLink='/cwiczenie2' routerLinkActive='Active'>
            <img src='http://s3.party.pl/styl-zycia/zdrowie/jazda-na-rowerze-358339-article.jpg'>
        </mat-grid-tile>
        <mat-grid-tile routerLink='/cwiczenie3' routerLinkActive='Active'>
            <img src='https://treningbiegacza.pl/media/cache/poster_780/uploads/media-library/biegac-rano-czy-wieczorem-01.jpg'>
        </mat-grid-tile>
        <mat-grid-tile routerLink='/cwiczenie4' routerLinkActive='Active'>
            <img src='https://static1.squarespace.com/static/53c723f0e4b057b2aaf90c0f/54304560e4b006a41676b612/54304578e4b0d66c87d414ec/1412449706359/032-Adho-Mukha-Svanasana-Jack-Cuneo.jpg'>
        </mat-grid-tile>
    </mat-grid-list>
  
  </section>
</mat-card>