<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        RYŻ SMAŻONY Z KURCZAKIEM PO MEKSYKAŃSKU
        <img src= 'https://www.kwestiasmaku.com/sites/kwestiasmaku.com/files/ryz_smazony_z_kurczakiem_po_meksykansku_02.jpg'/>
    </mat-grid-tile>
</mat-grid-list>
  <mat-list role="list">
        <mat-list-item role="listitem"> <h2>Składniki</h2>/   2 porcje </mat-list-item>
           <mat-divider></mat-divider>
        <mat-list-item role="listitem"> 300 g filetu kurczaka (lub indyka), 1 łyżeczka suszonego oregano, 1 łyżeczka słodkiej papryki, 
        1 łyżeczka kminu rzymskiego, pół łyżeczki ostrej papryki lub płatków chili, 2 ząbki czosnku, 100 g ryżu długoziarnistego,
        2 łyżki oliwy, 1/2 czerwonej cebuli, 1 mała czerwona papryka, 200 g kukurydzy z czerwoną fasolą, 1 pomidor, do podania: awokado, limonka, chili, świeża kolendra
       </mat-list-item>
    </mat-list>
    <mat-list role="list">
        <mat-list-item role="listitem"><h2>Przygotowanie</h2></mat-list-item>
          <mat-divider></mat-divider>
        <mat-list-item role="listitem"> 
          Filet kurczaka pokroić w kostkę, doprawić solą, pieprzem, przyprawami oraz startym czosnkiem.
        </mat-list-item>
        <mat-list-item role="listitem">
          Ugotować ryż w osolonej wodzie, odcedzić, wyłożyć na duży talerz i całkowicie ostudzić.
        </mat-list-item>
        <mat-list-item role="listitem">
          Na patelni rozgrzać oliwę, włożyć mięso i obsmażyć z każdej strony, w sumie przez ok. 3 - 4 minuty. Dodać połowę pokrojonej cebuli oraz paprykę pokrojoną w kostkę. Smażyć mieszając przez ok. 2 minuty.
        </mat-list-item>
        <mat-list-item role="listitem"> 
          Dodać odcedzoną kukurydzę z fasolką i wymieszać. Wsypać ugotowany ryż, dodać resztę cebuli, wymieszać i smażyć przez ok. 2 minuty.
        </mat-list-item>
        <mat-list-item role="listitem"> 
          Zdjąć z ognia, dodać obranego i pokrojonego w kostkę pomidora i wymieszać.
        </mat-list-item>
        <mat-list-item role="listitem"> 
          Wyłożyć na talerz, dodać obrane i pokrojone awokado, skropić limonką, posypać posiekaną papryczką chili i listkami świeżej kolendry.
        </mat-list-item>
  </mat-list>
 
