
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        PUSZYSTE PLACUSZKI (PANCAKES) Z CZEKOLADĄ
      <img src= 'https://www.kwestiasmaku.com/sites/kwestiasmaku.com/files/pancakes_z_czekolada_01.jpg'/>
    </mat-grid-tile>
</mat-grid-list>
<mat-list role="list">
    <mat-list-item role="listitem"> <h2>Składniki</h2>/   2 porcje </mat-list-item>
       <mat-divider></mat-divider>
    <mat-list-item role="listitem">200 g serka homogenizowanego, 2 jajka, 100 g mąki pszennej, 1 łyżeczka sody oczyszczonej, 1 łyżeczka proszku do pieczenia, 50 g czekolady deserowej</mat-list-item>
</mat-list>
<mat-list role="list">
      <mat-list-item role="listitem"><h2>Przygotowanie</h2></mat-list-item>
         <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        Wymieszać serek homogenizowany z jajkami.
      </mat-list-item>
      <mat-list-item role="listitem"> 
        Do drugiej miski przesiać mąkę z proszkiem do pieczenia oraz sodą i dokładnie wymieszać.
      </mat-list-item>
      <mat-list-item role="listitem"> 
        Wsypać do miski z jajkami i serkiem i delikatnie połączyć rózgą tylko do połączenia się składników na gładką i jednolitą masę. Na koniec wmieszać w ciasto połowę (50 g) pokrojonej w małą kosteczkę czekoladę.
      </mat-list-item>
      <mat-list-item role="listitem"> 
        Rozgrzać patelnię (np. dużą naleśnikową lub inną z nieprzywierającą powłoką) i nakładać po 2 łyżki ciasta na jednego placka zachowując odstępy.
      </mat-list-item>
      <mat-list-item role="listitem"> 
        Smażyć na średnim ogniu, do czasu aż urosną i będą ładnie zrumienione (przez około 2 minuty). Można smażyć beztłuszczowo, ale ja dodaję małą ilość masła na patelnię, dla smaku i ładnego zrumienienia placków.
      </mat-list-item>
      <mat-list-item role="listitem"> 
        Można podawać z owocami i np. z polewą czekoladową: czekoladę połamać na kosteczki i roztopić razem ze śmietanką w mikrofali lub w kąpieli wodnej.
      </mat-list-item>
        
  </mat-list>
 
